@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
//
@import "utils/media";
//
@import "components/InfoGraph/InfoGraph";
@import "components/Header/Header";
@import "components/PanelOfCards/PanelOfCards";
@import "components/PanelOfCards/CardPanel";
@import "components/PanelOfCards/Card";
@import "components/PanelOfCards/CardButtons";
@import "components/PanelOfCards/CardforAddition.scss";
@import "components/PanelOfCards/Category.scss";
@import "components/PanelOfCards/CategoryList.scss";

@import "components/NoticePanel/NoticePanel.scss";
@import "components/NoticePanel/PushNotification.scss";
@import "components/NoticePanel/WeekEventNotice.scss";
@import "components/NoticePanel/Notification.scss";
@import "components/NoticePanel/SendingUnit.scss";
@import "components/NoticePanel/NotificationBar.scss";

@import "components/Authorization/PassInput.scss";
@import "components/Authorization/Register.scss";

@import "components/Authorization/Login.scss";

@import "components/Alert/Alert.scss";

@import "components/Loader/Loader.scss";

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  font-family: $main-font;
  background-color: $main-background;
  line-height: 1;
  width: 100%;
  height: 100%;
}
