.header {
  height: 19vh;
  width: 100%;
  background-color: $header-color;
  font-weight: 700;
  font-size: 1.3rem;
  color: $header-font-color;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  &__settings {
    cursor: pointer;
  }
}
