.Menu {
  height: $menuHeight;
  width: $menuWidth;

  background-color: $menuColor;
  font-family: $mainFont;
  font-weight: bold;
  font-size: $menuFontSize;
  color: $menuFontColor;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  //??
  border: 3px solid black;
}
