.card-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 130px;
  width: 70%;
  position: relative;
  border-radius: 15px;
  // &:hover {
  //   transition: transform 1s ease-in-out;
  //   transform: translateY(-2vh);
  // }
  .card-input {
    width: 95%;
    height: 3.5vh;
    border-radius: 18px;
    font-weight: bold;
    margin-top: 5px;
    padding-left: 1vh;
    font-size: 0.8vw;
  }
  .card-category {
    width: 90%;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    color: $header-font-color;
    font-weight: bold;
    font-size: 0.8vw;
    color: $card-category-text-color;
  }
  .card-input::placeholder {
    color: $card-placeholder-color;
  }
}
