// * Основной контейнер добавления карточки
.cardForAddition {
  width: 17vw;
  height: 26vh;
  border-radius: 18px;
  position: relative;
  padding-bottom: 2vh;
  background-color: $card-for-addition-bg;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;

  &_header {
    width: 6vh;
    height: 6vh;
    position: absolute;
    bottom: 100%;
    transform: translate(0, 50%);
    background-color: $card-color-neutral;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_plus {
      font-size: 2.7rem;
      color: $cross-hair-color;
    }
  }
  &_main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 14vh;
    width: 70%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 -3px 0.3vh rgba(0, 0, 0, 0.5);
    background-color: $card-color-neutral;
    width: 88%;
    &_input {
      width: 95%;
      height: 3.5vh;
      border-radius: 18px;
      font-weight: bold;
      padding-left: 1vh;
      font-size: 0.8vw;
    }

    &_list {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      overflow-y: auto;
      border-radius: 10px;
      opacity: 0;
      background-image: linear-gradient(
        -225deg,
        $card-color-family-dark 0%,
        $card-color-fun-dark 50%,
        #def3f8 100%
      );

      @include transition-ease;
      pointer-events: none;

      &::-webkit-scrollbar {
        width: 0.2vw;
      }
      &::-webkit-scrollbar-thumb {
        background: $card-color-family-dark;
      }
      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }
    &_category {
      width: 90%;
      height: 8vh;
      display: flex;
      justify-content: flex-end;
      font-weight: bold;
      font-size: 0.8vw;
      color: $card-category-text-color;
      &_burger {
        display: block;
        height: 2vh;
        width: 2vh;
        margin-left: 0.5vw;
        cursor: pointer;
        position: relative;
        &_btn {
          position: absolute;
          right: 0%;
          top: 0.8vh;
          width: 100%;
          height: 2px;
          background-color: black;
          transform: translateY(-50%);
          @include transition-ease;
          &::before {
            content: "";
            position: absolute;
            right: 0;
            top: -0.4vh;
            width: 100%;
            height: 2px;
            background-color: black;
            @include transition-ease;
          }
          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0.4vh;
            width: 70%;
            height: 2px;
            background-color: black;
            @include transition-ease;
          }
          &.active {
            top: -200%;
            right: 40%;
            transform: rotate(720deg);
            background: transparent;
            &::before {
              transform: translate(10px) rotate(45deg) translate(25%, 40%);
            }
            &::after {
              width: 100%;
              transform: translate(10px) rotate(-45deg) translate(25%, -40%);
            }
          }
        }
      }
    }
  }
  // * Buttons of control
  &_btns {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
    @include transition-ease;
    &_lt_btn,
    &_rt_btn {
      z-index: 1;
      border-radius: 10px;
      font-size: 1.5vw;
      cursor: pointer;
    }
    &_lt_btn {
      color: $fun-btn-color;
      background-color: $family-btn-color;
    }
    &_rt_btn {
      color: $family-btn-color;
      background-color: $fun-btn-color;
    }
    &.active {
      opacity: 0;
      pointer-events: none;
    }
  }
}
