//* Vars: *

//!-------- Common Settings---------------
$main-font: "MontserratMedium", sans-serif;
$main-background: #f5f5f5;

//!-------- Header settings---------------
$header-color: #f66f6c;
$header-font-color: #ffffff;

//???? на удаление
$mainFont: "MontserratMedium", sans-serif;
$mainBackground: #f5f5f5;
//-----------//
$cardColorFamilyDark: rgb(237, 144, 51);
$cardColorFamily1: rgb(238, 156, 48);
$cardColorFamily2: rgb(242, 165, 75);
$cardColorFamily3: rgb(240, 183, 93);
$cardColorFamily4: rgb(230, 208, 122);
$cardColorFamilyLight: rgb(247, 233, 159);
$cardColorFunDark: rgb(119, 103, 201);
$cardColorFun1: rgb(150, 122, 232);
$cardColorFun2: rgb(169, 120, 235);
$cardColorFun3: rgb(172, 101, 223);
$cardColorFun4: rgb(207, 117, 231);
$cardColorFunLight: rgb(217, 154, 224);
//????

$menuColor: #f66f6c;
$menuHeight: 19vh;
$menuWidth: 100%;
$menuFontColor: #ffffff;
$menuFontSize: 2.5vh;

//Menu settings end

//! InfoGraph settings
$backInfoGraphColor: #f66f6c;
$infoGraphColorLight: #a7d1e7;
$infoGraphColorDark: #87c0dd;
$infoGraphColorWhite: #ffffff;
$infoGraphDateFontSize: 3vw;
// InfoGraph settings end

//! *** START PanelOfCards settings *** !//
$panel-of-cards-main-bg: #f5f5f5;

//-------- CardPanel settings-----------//
// * MAIN CardPanel
$card-panel-bg: #ffffff;
// * Картотека Family
$card-color-family-dark: rgb(237, 144, 51);
$card-color-family-light: rgb(247, 233, 159);
// * Картотека FUN
$card-color-fun-dark: rgb(119, 103, 201);
$card-color-fun-light: rgb(217, 154, 224);
//! CardforAddition
// * Нейтральная карточка
$card-for-addition-bg: #ffffff;
$card-color-neutral: #dcd7dd;
$cross-hair-color: #ffffff;
$fun-btn-color: #7967c8;
$family-btn-color: #f7eb98;
//! Card
// * Карточка
$card-category-text-color: #000099;
$card-placeholder-color: #dcdcdc;

//! *** END PanelOfCards settings  *** !//

//! -------------NoticePanel-----------------
$noticePanelHeight: 35vh;
$noticePanelBackground: #ffffff;
$noticePanelSeparatorColor: #e6e6e6;
//! <<<<< Notification >>>>>
// * PUSH NOTICE * //
$pushNotificationBackground: #f66f6c;
$pushNotificationTextBackground: #f59a99;

// * EVENT NOTICE * //
$eventNotificationBackground: #7767c9;
$eventNotificationTextBackground: #ad98f4;

// * SENDING UNIT *//
$sendingUnitMain: #fa9293;
$sendingUnitSelected: #f66f6c;
$sendingUnitSubmit: #f66f6c;

// * NOTIFICATION * //
$notificationFontColor: #ffffff;
$notificationScrollColor: red;
$notificationBodyFontSize: 1.5vh;

// CardPanel settings end

//?? Main color
$default-color: #ffffff;
$primary-color: #444ce0;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

//?? Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

//?? Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;

//!! Size
// $mainFontColor: #101010;

// $mainFontWeight: 400;
// $mainLineHeight: 1.4;
// //*Phone = portrait + landscape
// $phone-min-width: 320px;
// $phone-max-width: 480px;
// //*Phone = landscape
// $phone-landscape-min-width: 321px;
// //*Phone = portrait
// $phone-portrait-max-width: 320px;
// //*Tablet = portrait + landscape
// $tablet-min-width: 768px;
// $tablet-max-width: 1024px;
// //*Laptop
// $laptop-min-width: 1224px;
// //*Desktop
// $desktop-min-width: 1824px;

$assetsPath: "../~/" !default;

// $media-min-widths: (
//   "phone": $phone-min-width,
//   "phone-landscape": $phone-landscape-min-width,
//   "tablet": $tablet-min-width,
//   "laptop": $laptop-min-width,
//   "descktop": $desktop-min-width,
// );

// $media-max-widths: (
//   "phone": $phone-max-width,
//   "phone-portrait": $phone-portrait-max-width,
//   "tablet": $tablet-max-width,
// );

// $media-min-widths: (
//   //   "phone": 320px,
//   "phone-landscape": 321px,
//   "tablet": 768px,
//   "laptop": 1224px,
//   "desktop": 1824px
// );

// $media-max-widths: (
//   //   "phone": 480px,
//   "phone-portrait": 320px,
//   "tablet": 1024px
// );
