.passinput-password {
  width: 100%;
  height: 3vh;
  position: relative;

  // input {
  //   height: 100%;
  //   width: 100%;
  //   font-size: 2vh;
  //   padding-left: 1vw;
  //   border-radius: 10px;
  // }

  .password-check {
    position: absolute;
    height: 100%;
    width: 10%;
    right: 3%;
    top: 0;
    .password-eye,
    .password-eye-slash {
      opacity: 0.5;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }

    .password-eye:hover,
    .password-eye-slash:hover {
      opacity: 1;
    }
  }
}
